.Navbar {
    position: sticky;
    top: 0;
    background-color: #EAD94C;
    margin-bottom: 2em;
    padding: 1em;
}

.NavbarList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

