* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, select, textarea, input {
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 75em;
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-align-center {
  align-items: center;
}
